.minium.center-aligned-cta {
	text-align: center;
	margin: 88px auto 136px;

	.content-type {
		margin-bottom: 8px;
	}

	.content-title {
		margin-bottom: 24px;
		color: #FFF;
	}

	.content {
		margin-bottom: 40px;
		color: $grey;
	}
}